body {
    /* background-image: url("images/15505-4.jpg") ; */
    margin: 0px;  
    background:rgb(20, 17, 46);
    padding-top: 50px;
    position: relative;
}

.fa-linkedin-navbar {
    width: 40px;
    height: 40px;
    color: #85092e;
    padding-top: 0px;
    padding-left: 2.5px;
    border-radius: 2px;
    padding-bottom: 20px;
    font-weight: 100;
    font-size: 40px;
    margin-top: 5px;
    background-color: #cfcfcf;

}



.my-navbar{
    background: linear-gradient(to right, rgba(20, 17, 46), #85092e);
    height: 50px;
    border: none;
    
    
}
.icon-bar{
    text-decoration-color: #cfcfcf;
}


.navbar-link{
    margin-top: -5px;
}
.navbar-link:hover{
    background-color: rgba(20, 17, 46);
    transform: scale(1.05 );
    transition: 200ms;
}
.active{
    background-color: rgba(20, 17, 46);
    
}

.fa-search{
    font-size: 18px;
    color: #cfcfcf;
    margin: auto;
    padding-bottom: 0px;
}


.navbar-link-icon{
    color: #cfcfcf;
    font-size: 20px;
    margin-top: -12px;
}

.navbar-link-text{
    color: #cfcfcf;
    font-size: 12px;
}
.search-btn{
    /* border: 2px solid rgba(20, 17, 46); */
    background-color:#af214b69;
    box-shadow: 2px 2px 2px rgb(46, 17, 31);
}
.search-btn:hover {
    
    background-color:rgba(20, 17, 46);
    transform: scale(1.1 );
    transition: 300ms;
    
}
.navbar-list:active{
    height: 50px;
    background-color:rgba(20, 17, 46);
    transform: scale(.9 );
    transition: 200ms;
}
.navbar-list:hover{
    height: 50px;
    border-bottom: 2px solid #cfcfcf;
}
.me-image-icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -10px;
    border: 1px solid #cfcfcf;
}
.navbar-droplist-text{
    margin-top: -5px;
}


.profile-info{
    height: 350px;
    margin-left: 180px;
    padding: 0px;
    background:  #6b07259a;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    
    
}


.main-container{
    margin-top: 100px;
}




.start-post{
    
    height: 120px;
    background-color: #ffffffcb;
    box-shadow: 2px 2px 10px #241b1b31;
    border-radius: 2px;
    border: 1px solid #c9c9c9;


}
.write-post{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #acabab;
    
}
.post-content {
    border-left: 1px solid #acabab;
    height: 80px;
    text-align: center;
    color: #5c5b5b;

}
.post-content:hover{
    color: #234c97d3;
    border: none;
    background: #75495b9a;
    transform: scale(1.1);
    box-shadow: 2px 2px 4px #5c5b5b;
    transition: 300ms;
    cursor: pointer;

}
.start{
    height: 80px;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 20px;
    color: #5c5b5b;
}
.start:hover{
    color: #234c97d3;
    transform: scale(1.1);
    transition: 300ms;
}
.fa-edit{
    font-size: 25px;

}
.fa-camera, .fa-video, .fa-file{
    font-size: 30px;
    margin-top: 20px;
    /* color: #5c5b5b; */

}
.atricle{
    height: 40px;
    width: 100%;
    padding-top: 7px;
    font-size: 13px;
    font-weight: 600;
    color: #85092e;    
}
.atricle:hover{
    transform: scale(1.05);
    transition: 200ms;
    cursor: pointer;
    color: #8a183a7e;    
}
.artical-link{
    color: #85092e;
}
.fa-newspaper{
    padding-right: 20px;
    font-size: 20px;
}

.post-form-modal-content{
    min-height: 500px;
    margin-top: 100px;
}
.post-form-modal-header{
    width: 100%;
    height: 50px;
    background-color: #85092e;
}
.post-form-modal-cancel{
    color: #ffffff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding-left: 9px;
    padding-top: 4px;
}
.post-form-modal-cancel:hover{
    background-color: #dddadbd3;
    
}
.post-form-profile-img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid #cfcfcf;
    overflow: hidden;
    margin: auto;
    z-index: 10000;
    margin-top: -30px;
    margin-bottom: 20px;
}
.post-write-area{
    border: none;
    width: 100%;
    min-height: 250px;
    max-width: 100%;
    box-shadow: none;
}
.hashtag{
    padding-left: 20px;
    
}
.hashtag-link{
    font-size: 20px;
    color: #524f4f;
    text-decoration: none;
}
.hashtag-link:hover{
    color: #85092e;
}
.hashtag-hint{
    color: #a7a4a4;
    font-size: 15px;
}
.post-add-media{
    margin-top: -30px;
    margin-left: 20px;
}
.post-media{
    overflow: hidden;
    font-size: 10px;
    color: #8b1237a4;
}
.upload {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
  }
.upload:hover{
      cursor: pointer;
  }
.post-media:hover{
    
    color: rgba(34, 28, 87, 0.918);
    transform: scale(1.1);
    transition: 300ms;
}
.post-btn{
    height: 30px;
    padding-left: 10px; 
    padding-top: 3px;
    justify-content: center;
    width: 55px;
    background-color: rgba(34, 28, 87, 0.918);
    color: #fff6f6;
    margin-top: 25px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
}
.post-btn:hover{
    background-color: #85092e;
    transform: scale(1.1);
    transition:200ms;
    box-shadow: 2px 2px 4px rgba(34, 28, 87, 0.918);
    border: none;
}
.post-btn:active{
    background-color: rgba(34, 28, 87, 0.918);
}
.fa-times{
    color: #ffffff;
    font-size: 20px;
    
}
.post{
    margin-top: 30px;
    min-height: 420px;
    background-color: #eeeeee;
    box-shadow: 2px 2px 10px #241b1b31;
    border-radius: 2px;
    border: 1px solid #cfcfcf;
}

.post-view-profile-img{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    border-radius: 50%;
    border: 2px solid #fcfcfc;
    overflow: hidden;
    box-shadow: 1px 1px 2px 2px  #9c9c9c;
}
.post-view-profile-img:hover{
    transform: scale(1.05);
    transition: 200ms;
}
.post-data{
    margin-top: 7px;
    margin-left: -20px;
}
.post-data-content{
    margin: auto;
    border-top: 1px solid #c0bfbf;
    
}
a:hover{
    text-decoration: none;
}
.post-owner{
    font-weight: 600;
    color: #202020d3
}
.post-owner:hover{
    color: #202c5ed3;
    transform: scale(1.05);
    transition: 200ms;
}
.post-owner-titel, .post-time{
    font-size: 12px;
    color: #6e6e6ed3;
}
.post-time{
    margin-bottom: 10px;
}
.post-control{
    font-size: 25px;
    font-weight: 600;
    color: #202020d3;
}
.post-content-text{
    font-size: 15px;
    margin-top: 10px;
    color: #444343d3;
}
.post-content-img{
    width: 100%;
    margin-bottom: 15px;
}
.post-img-modal{
    min-height: 500px;
    min-width:700px;
    margin: auto;
}
.post-interaction{
    border-top: 1px solid #bebdbd;
    min-height: 50px;
    margin: auto;
}
.likes-comment-index{
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 20px;
}



.likes-link, .comments-link{
    color: #707070d3;
}
.likes-list{
    min-height: 400px;
    background-color: #fdfdfd;
    width: 400px;
    margin: auto;
    margin-top: 100px;
}








 /* /////////////// LAST EDIT /////////////////  */
.show-likes-list-btn,.show-comments-list-btn{
    background-color: #eeeeee00;
}
.show-likes-list-btn:focus,.show-comments-list-btn:focus{
    outline: none;
}
.show-likes-list-btn:hover,.show-comments-list-btn:hover{
    color: #6d213ad3;
    transform: scale(1.05);
    transition: 200ms;
}
.show-likes-list-btn:active,.show-comments-list-btn:active{
    outline: none;
    border: none;
}

.add-comment-form{
    margin-top: 20px;
}
.comment-owner-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
    border: 1px solid #bebdbd;
    
}
.add-comment-field{
    height: 40px;
    border-radius: 20px;
}
.add-comment-btn{
    background-color: #85092e;
    border: none;
    color: #f8f7f7d3;
    margin-top: 10px;
    height: 30px;
    border-radius: 15px;
}
.add-comment-btn:hover{
    color: #ffffffd3;
    background-color:#85092ea6;
    transform: scale(1.1);
    transition: 300ms;
}
.comment-unit{
    margin-top: 10px;
}
.comment-content{
    min-height: 100px;
    margin-top: 10px;
    background-color:#2c2b3f13;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 4px;
    padding: 25px;
}
.comment-unit-owner-img-container{
    /* margin-top: -20px; */
}
.btn-comment-like,.btn-comment-replay{
    background-color: #ffffff00;
    color: #85092e;
}
.btn-comment-like:hover,.btn-comment-replay:hover{
    color: #a53c5cb4;
    transform: scale(1.05);
    transition: 200ms;

}
 /* //////////////////////////////////////////  */












.likes-list-modal-header{
    height: 50px;
}
.no-of-liks{
    margin-left: 20px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #9c9b9bd3;
}
.likes-list-modal-cancel{
    margin-top: 15px;
}
.likes-list-modal-body{
    border-top: 1px solid #bebdbd;
}

.like-btn,.comment-btn, .share-btn{
    background-color: #85092e;
    border-radius: 20px;
    color: #fffefe;
    border: none;
    margin-top: -24px;
}
.like-btn:hover,.comment-btn:hover, .share-btn:hover{
    color: #ffffffd3;
    background-color:#85092ea6;
    transform: scale(1.1);
    transition: 300ms;
    
    
}
.copy-rights{
    height: 250px;
    background: linear-gradient(to right, rgba(20, 17, 46), #85092e54);
    background:  #6b07259a;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    
}

.profile-info-cover-img{
    width: 100%;
    max-height: 80px;
    overflow: hidden;
    
}
.profile-img-container{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 4px solid #cfcfcf;
    overflow: hidden;
    margin: auto;
    z-index: 10000;
    margin-top: -50px;
    
}
.welcome{
    padding-top: 10px;
    color: #cfcfcf;
    margin: auto;
    font-size: 15px;
    text-align: center;
    font-weight: 500; 
}
.update{
    padding-top: 10px;
    justify-content: center;
    margin-left: 70px;
    font-size: 12px;
    color: #97b9f7;
}
.divider{
    width: 100%;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: #7e7d7d;
}
.other{
    padding:20px 20px;
    color: #e7e4e4;

}
.copy-rights-brand{
    font-weight: 700;
    font-size: 15px;
    color: #cfcfcf;
    
}
.copy-rights-icon{
    font-size: 20px;
    background-color: #cfcfcf;
    height: 12px;
    width: 22px;
}
.copy-rights-links{
    font-size: 12px;
    color: #cfcfcfad;
}
.copy-rights-mark{
    font-size: 10px;
    font-weight: 200;

}
.message-menu{
    max-height: 340px;
    background-color: #cfcfcf;
    padding: 0px;
   
}


.message-menu-body{
    width: 100%;
    /* height: 300px; */
    background-color: #cfcfcf;
    box-shadow: 2px 2px 2px 2px 4px #24141b;
    z-index: 10000;
}
.message-btn{
    border: none;
    border-radius: 0px;
    background-color: #85092e;
    
    width: 100%;
    height: 40px;
}
.fa-edit{
    margin-right: 10px;
}
.message-btn-icons{
    color: #cfcfcf;
    font-size: 15px;
    padding-right: 5px;
    
}
.message-btn-text{
    color: #cfcfcf;

}

