@model ITI.Mvc.LinkedIn.ViewModels.LanguageViewModel



@using (Ajax.BeginForm( "AddLanguage", "ProfileManager", new AjaxOptions
{
      HttpMethod = "Post",
    InsertionMode = InsertionMode.ReplaceWith, //target element(#patientList) will be replaced
    UpdateTargetId = "languagediv"
    //LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
}, new { @class = "add-experience-modal-form add-skill-modal-form" , id="addlanguage"}))
{
   @Html.AntiForgeryToken()



    <!-- (1)Add Languages Modal -->
    <div class="modal fade add-education-modal add-skill-modal" id="add-language-modal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog " role="document">

                <div class="modal-content add-experience-modal-content">
                    <div class="modal-header add-experience-modal-header">
                        <span class="add-experience-modal-titl">Add Skill</span>
                        <a class="close " data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="x">&times;</span>
                        </a>
                    </div>



                        <label class="edit-profile-modal-form-lable">Language</label>
                        <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput" placeholder="Ex: Arabic">


                        <label class="edit-profile-modal-form-lable">Proficiency</label>
                        <div class="dropdown ">

                            <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                    id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Nativ or Bilingual Proficiency
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Elementry Proficiency</a></li>
                                <li><a href="#">Limited Working Proficiency</a></li>
                                <li><a href="#">Profitional Working Proficiency</a></li>
                                <li><a href="#">Full Profitional Proficiency</a></li>
                                <li><a href="#">Nativ or Bilingual Proficiency</a></li>
                            </ul>
                        </div>





                        <div class="edit-profile-modal-save">
                           @* <a class="btn edit-profile-modal-save-btn" href="javascript:document.getElementById('addlanguage').submit()">Create</a>*@
                            <input type="submit" value="add" />

                        </div>

                </div>
            </div>


    </div>



}




