@model ITI.Mvc.LinkedIn.ViewModels.AppUserViewModel


    <!-- Edit Profile Info Modal -->
    <div class="modal fade edit-profile-modal" id="edit-profile" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel">
        <form>
            <div class="modal-dialog " role="document">

                <div class="modal-content edit-profile-modal-content">
                    <div class="modal-header edit-profile-modal-header">
                        <span class="edit-profile-modal-titl">Edit Intro</span>
                        <a class="close " data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="x">&times;</span>
                        </a>
                    </div>
                    <div class="edit-profile-modal-coverphoto">
                        <div class=" coverphoto">
                            <img src="0 (1).jfif" class="" alt="Responsive image">
                        </div>
                    </div>

                    <a href="" class="" data-toggle="modal" data-target="#edit-profile-img-modal">
                        <div class="modal-profile-img-container">
                            <!-- <input type="file" class="upload"> -->
                            <img src="6.jpg" class="profilephoto" alt="Responsive image">
                        </div>
                    </a>




                    <form class="edit-profile-modal-form">
                        <label class="edit-profile-modal-form-lable">
                            First Name&nbsp;&nbsp;<span class="requied">*</span>
                        </label>
                        <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                               placeholder="First Name">

                        <label class="edit-profile-modal-form-lable">Last Name&nbsp;&nbsp;<span class="requied">*</span></label>
                        <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                               placeholder="Last Name">

                        <label class="edit-profile-modal-form-lable">HeadLine&nbsp;&nbsp;<span class="requied">*</span></label>
                        <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                               placeholder="HeadLine">

                        <label class="edit-profile-modal-form-lable">Current Position</span></label>
                        <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                               placeholder="Current Position">

                        <label class="edit-profile-modal-form-lable">Education</span></label>
                        <div class="dropdown ">
                            <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                    id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Assiut
                                University
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Assiut University</a></li>
                                <li><a href="#">Elmasoura University</a></li>
                                <li><a href="#">Elshouroq Academy</a></li>
                            </ul>
                        </div>

                        <label class="edit-profile-modal-form-lable">
                            Country/Region&nbsp;&nbsp;<span class="requied">*</span>
                        </label>
                        <div class="dropdown ">
                            <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                    id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Egypt
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Egypt</a></li>
                                <li><a href="#">USA</a></li>
                                <li><a href="#">UAE</a></li>
                            </ul>
                        </div>


                        <label class="edit-profile-modal-form-lable">ZIP code</span></label>
                        <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                               placeholder="ZIP code">

                        <label class="edit-profile-modal-form-lable">Industry&nbsp;&nbsp;<span class="requied">*</span></label>
                        <div class="dropdown ">
                            <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                    id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Civil Engineer
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Civil Engineer</a></li>
                                <li><a href="#">Softeware Developer</a></li>
                                <li><a href="#">Architect</a></li>
                            </ul>
                        </div>

                        <label class="edit-profile-modal-form-lable">Summary</span></label>
                        <textarea class="form-control edit-profile-modal-form-textarea" rows="3"></textarea>

                        <div class="edit-profile-modal-save">
                            <button type="submit" class="btn edit-profile-modal-save-btn">Save</button>
                        </div>
                    </form>








                </div>
            </div>
        </form>


    </div>