
    <link href="~/Style and structure/Loading-Page/loading-style.css" rel="stylesheet" />
   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <div id="LoadingPage"class='face' hidden>
        <div class='container'>
            <div class="main-icon">
                <i class="fab fa-linkedin"></i>
            </div>

            <span class='loading'></span>
            <div class="caption">
                <h2>Opportunities</h2>
                <ul>
                    <li>O</li>
                    <li>N</li>
                    <li>T</li>
                    <li>H</li>
                    <li>E</li>
                    <li>W</li>
                    <li>A</li>
                    <li>Y</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="~/Style and structure/Login-Page/jquery-3.3.1.min.js"></script>
