@model ITI.Mvc.LinkedIn.ViewModels.CompanyViewModel

<!-- (1)Add Experience Modal -->
<div class="modal fade add-education-modal" id="add-experience-modal" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog " role="document">

            <div class="modal-content add-experience-modal-content">
                <div class="modal-header add-experience-modal-header">
                    <span class="add-experience-modal-titl">Add Experience</span>
                    <a class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="x">&times;</span>
                    </a>
                </div>


@using (Ajax.BeginForm("AddCompanies", "ProfileManager", null, new AjaxOptions
{
    HttpMethod = "POST",

    InsertionMode = InsertionMode.ReplaceWith, //target element(#) will be replaced
    UpdateTargetId = "CompaniesList",
    //LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
}, new { @class = "add-experience-modal-form", id = "addexperience" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                    <label class="edit-profile-modal-form-lable">Title &nbsp;&nbsp;<span class="requied">*</span></label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                           placeholder="Ex: Manager">
                
                    <label class="edit-profile-modal-form-lable">Company &nbsp;&nbsp;<span class="requied">*</label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                           placeholder="Ex: Microsoft">

                    <label class="edit-profile-modal-form-lable">Location</label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput" placeholder="Ex: London, United Kingdom">


                    <label class="edit-profile-modal-form-lable">Start Date</label>
                    <div class="dropdown ">
                        <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Year
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                            <li><a href="#">2019</a></li>
                            <li><a href="#">2018</a></li>
                            <li><a href="#">2017</a></li>
                            <li><a href="#">2016</a></li>
                            <li><a href="#">2015</a></li>
                            <li><a href="#">2014</a></li>
                            <li><a href="#">2013</a></li>
                            <li><a href="#">2012</a></li>
                            <li><a href="#">2011</a></li>
                            <li><a href="#">2010</a></li>
                        </ul>
                    </div>

                    <div class="dropdown ">
                        <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Month
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Jan</a></li>
                            <li><a href="#">Feb</a></li>
                            <li><a href="#">Mar</a></li>
                            <li><a href="#">Apr</a></li>
                            <li><a href="#">May</a></li>
                            <li><a href="#">Jun</a></li>
                            <li><a href="#">Jul</a></li>
                            <li><a href="#">Aug</a></li>
                            <li><a href="#">Sep</a></li>
                            <li><a href="#">Oct</a></li>
                            <li><a href="#">Nov</a></li>
                            <li><a href="#">Dec</a></li>
                        </ul>
                    </div>


                    <label class="edit-profile-modal-form-lable">End Date</label>
                    <div class="dropdown ">
                        <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Year
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                            <li><a href="#">2019</a></li>
                            <li><a href="#">2018</a></li>
                            <li><a href="#">2017</a></li>
                            <li><a href="#">2016</a></li>
                            <li><a href="#">2015</a></li>
                            <li><a href="#">2014</a></li>
                            <li><a href="#">2013</a></li>
                            <li><a href="#">2012</a></li>
                            <li><a href="#">2011</a></li>
                            <li><a href="#">2010</a></li>
                        </ul>
                    </div>

                    <div class="dropdown ">
                        <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Month
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Jan</a></li>
                            <li><a href="#">Feb</a></li>
                            <li><a href="#">Mar</a></li>
                            <li><a href="#">Apr</a></li>
                            <li><a href="#">May</a></li>
                            <li><a href="#">Jun</a></li>
                            <li><a href="#">Jul</a></li>
                            <li><a href="#">Aug</a></li>
                            <li><a href="#">Sep</a></li>
                            <li><a href="#">Oct</a></li>
                            <li><a href="#">Nov</a></li>
                            <li><a href="#">Dec</a></li>
                        </ul>
                    </div>


                    <label class="edit-profile-modal-form-lable">Industry &nbsp;&nbsp;<span class="requied">*</label>
                    <div class="dropdown ">
                        <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Civil Engineer
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Civil Engineer</a></li>
                            <li><a href="#">Graphic Designer</a></li>
                            <li><a href="#">Marketing Manager</a></li>
                            <li><a href="#">Games Developer</a></li>
                            <li><a href="#">Games Artist</a></li>
                            <li><a href="#">Softeware Developer</a></li>

                        </ul>
                    </div>

                    <label class="edit-profile-modal-form-lable">HeadLine &nbsp;&nbsp;<span class="requied">*</label>
                    <textarea class="form-control edit-profile-modal-form-textarea" rows="2"></textarea>

                    <label class="edit-profile-modal-form-lable">Description</label>
                    <textarea class="form-control edit-profile-modal-form-textarea" rows="3"></textarea>

                    <div class="edit-profile-modal-save">
                        <a class="btn edit-profile-modal-save-btn" href="javascript:document.getElementById('addexperience').submit()">Create</a>

                    </div>



}




            </div>
        </div>


</div>


