@using ITI.Mvc.LinkedIn.ViewModels
@using ITI.Mvc.LinkedIn.Models.Entities
@model ITI.Mvc.LinkedIn.ViewModels.AppUserViewModel



<!-- Skills  section -->
<!------------------------------->
<div id="Skills-container" class="experience col-lg-push-2 col-lg-8 col-xs-11">

    <div class="row experience-header">
        <div class="title col-xs-4">Skills & Endorsements</div>

        <a href="" data-toggle="modal" data-target="#add-skill-modal">
            <div class="add-experience col-xs-1 col-xs-push-6">
                <i class="fas fa-plus-circle"></i>
            </div>
        </a>

        <a href="" data-toggle="modal" data-target="#edit-skill-modal">
            <div class="add-experience col-xs-1 col-xs-push-6">
                <i class="fas fa-pen"></i>
            </div>
        </a>

    </div>

    <div class="row experience-body">

        <div class="row experience-unit col-xs-12">

            @foreach (Skills item in Model.Skills)
            {
                <div class="skill-unit-details col-xs-12">
                    <div class="Skill-name ">@item.Name</div>
                </div>
            }


        </div>



    </div>


</div>


<!-- (1)Add Skills Modal -->

@Html.Partial("_PartialCreateSkill", new SkillViewModel())


<!-- (2)Edit Skills Modal -->


@Html.Partial("_PartialCreateSkill", new SkillViewModel())
