@using ITI.Mvc.LinkedIn.Models.Entities
@model ITI.Mvc.LinkedIn.ViewModels.CourseViewModel


<!-- (1)Add Courses Modal -->
<div class="modal fade add-education-modal add-skill-modal" id="add-course-modal" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel">
    <form>
        <div class="modal-dialog " role="document">

            <div class="modal-content add-experience-modal-content">
                <div class="modal-header add-experience-modal-header">
                    <span class="add-experience-modal-titl">Add Course</span>
                    <a class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="x">&times;</span>
                    </a>
                </div>



                @using (Ajax.BeginForm("AddCourses", "ProfileManager", new AjaxOptions
                {
                    HttpMethod = "POST",

                    InsertionMode = InsertionMode.ReplaceWith, //target element(#patientList) will be replaced
                    UpdateTargetId = "courses-container",
                    //LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
                }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <form class="add-experience-modal-form add-skill-modal-form" id="addcourseform">

                        <label class="edit-profile-modal-form-lable">Course Name&nbsp;&nbsp;<span class="requied">*</label>
                        @Html.EditorFor(e => e.course.CourseName, new { htmlAttributes = new { @class = "form-control edit-profile-modal-form-lable-control", @placeholder = "Ex: AutoCAD", @id = "add-course-name-text-field" } })
                        @Html.ValidationMessageFor(model => model.course.CourseName, "", new { @class = "text-danger" })
                        @*<input type="text" class="form-control edit-profile-modal-form-lable-control" id="add-course-name-text-field" placeholder="Ex: AutoCAD">*@


                        <div class="form-group">
                            <div class="edit-profile-modal-save col-md-push-2 col-md-10" id="add-course-btn">
                                <a class="btn edit-profile-modal-save-btn" href="javascript:document.getElementById('addcourseform').submit()">Save</a>
                            </div>
                        </div>

                    </form>

                }


            </div>
        </div>
    </form>


</div>

