header {
    background: #ac0a3a;
    background: linear-gradient(to right, rgba(20, 17, 46), #ac0a3a);
    padding: 10px ;
    position: relative;
    height: 40px;
    box-shadow: 0px 4px 5px 2px rgba(20, 17, 46, 0.8);
}
.main-icon {
    height: 70px;
    width: 70px;
    /* justify-content: center; */
    margin: auto;
    background-color: #cfcfcf;
    border-radius: 5px;
    text-align: center;
    
}
.fa-linkedin {
    width: 34px;
height: 34.6px;
/* color: #0073b1; */
color: #ac0a3a;
color: #85092e;
font-size: 65px;
margin-right: 18px;
padding: 5px 5px;

}

body {
    margin: 0;
    /* background-image: url("Images/15505-4.jpg") ; */
    background-color: rgb(20, 17, 46);
}
.container {
    margin: auto;
    position: relative;
}
.face{
margin-top: 150px;
text-align: center;
}
.loading {
    width: 130px;
    display: block;
    height: 2px;
    margin: 28px auto; 
    border-radius: 2px;
    background-color: #cfcfcf;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
 .loading:before {
    content:'';
    height: 3px;
    width: 68px;
    position: absolute;
    transform: translate(-34px, 0);
    background-color: #ac0a3a;
    border-radius: 2px;
    animation: animation 1.4s infinite ease;
}
@-webkit-keyframes animation {
    0% {
        left: 0
    }
    50% {
        left: 100%
    }
    100% {
        left: 0
    }
}
@keyframes animation {
    0% {
        left: 0
    }
    50% {
        left: 100%
    }
    100% {
        left: 0
    }
}
.face .container > img {
     background: #ac0a3a;
    box-shadow: 0px 7px 20px 2px rgba(167, 167, 167, 0.60);
    border-radius: 2px;
    animation: bounce 1.4s ease infinite;
}
@-webkit-keyframes bounce {
   
    0% {
        transform: scale(1) ;
        filter: blur(0);    
   }
    50% {
        transform: scale(.9) ;
        filter: blur(1.4);
        box-shadow: 0px 0.3px 5px .5px rgb(167, 167, 167);
   }
    100% {
        transform: scale(1) ;
        
   }
}
@keyframes bounce {
   
   0% {
        transform: scale(1) ;
        filter: blur(0);    
   }
   50% {
        transform: scale(.9) ;
        filter: blur(1.4);
        box-shadow: 0px 0.3px 5px .5px rgb(167, 167, 167);
   }
    100% {
        transform: scale(1) ;
        
   }
}
.caption {
margin-top: 80px;
text-align: center;
}
.caption h2{
font-family: Trebuchet MS;
color: #cfcfcf;
margin: 0 0 8px;
font-weight: normal;
text-transform: uppercase;
letter-spacing: 3px;
}

.caption ul {
margin: 0;
padding: 0;
}

.caption li {
list-style: none;
display: inline-block;
letter-spacing: 3px;
font-size: 18px;
color:#f3f3f3;
margin-right: 5px;
font-family: Arial Narrow, sans-serif;
animation: on-run 2.6s ease infinite;

}
.caption li:nth-child(1)
{
    animation-delay:.2s
}
.caption li:nth-child(2)
{
    animation-delay:.4s;
    margin-right: 10px;
}
.caption li:nth-child(3)
{
    animation-delay:.6s
}
.caption li:nth-child(4)
{
    animation-delay:.8s
}
.caption li:nth-child(5)
{
    animation-delay:1s;
    margin-right: 10px;
}
.caption li:nth-child(6)
{
    animation-delay:1.2s
}
.caption li:nth-child(7)
{
    animation-delay:1.4s
}
.caption li:nth-child(8)
{
    animation-delay:1.6s
}
@-webkit-keyframes on-run {

0% {color:#f3f3f3;}
25% {color: #ac0a3a;}
50% {color:#ac0a3a;}
75% {color:#f3f3f3;}
100% {color:#f3f3f3;}
}
@keyframes on-run {

0% {color:#f3f3f3;}
25% {color: #ac0a3a;}
50% {color:#ac0a3a;}
75% {color:#f3f3f3;}
100% {color:#f3f3f3;}
}
.caption li:last-child{
margin-right:0
}